.doubt-page {
  min-height: 100vh;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.doubt-card {
  width: 450px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.doubt-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.doubt-card input,
.doubt-card textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.doubt-card button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
}
