.add-teacher-page {
  min-height: 100vh;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.add-teacher-card {
  width: 420px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 22px rgba(0,0,0,0.15);
}

.add-teacher-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.add-teacher-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.add-teacher-card button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add-teacher-card button:hover {
  background: #1e40af;
}
